cloud.opencodething.top {
  reverse_proxy nextcloud:80
}
lab.opencodething.top {
  reverse_proxy lab:8888
}
ql.opencodething.top {
  reverse_proxy ql:5700
}
blog.opencodething.top {
  reverse_proxy wordpress:80
}
hot.opencodething.top {
  reverse_proxy dayhot:80
}